#include "Config.xcconfig"

APS_ENVIRONMENT = production

ASSETCATALOG_COMPILER_APPICON_NAME=AppIconDev

LD_RUNPATH_SEARCH_PATHS=$(inherited) @executable_path/Frameworks

SWIFT_ACTIVE_COMPILATION_CONDITIONS=$(inherited) RELEASE MOCK PULSE_LOGGING

SWIFT_COMPILATION_MODE=wholemodule

SWIFT_OPTIMIZATION_LEVEL=-Owholemodule

GCC_PREPROCESSOR_DEFINITIONS=$(inherited) RELEASE=1 MOCK=1

DEBUG_INFORMATION_FORMAT=dwarf-with-dsym

VALIDATE_PRODUCT=YES

COPY_PHASE_STRIP=YES
